body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
  }
  
  body.night-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 50px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skill-bar {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    transition: width 1s ease-in-out, background-color 0.3s ease;
  }
  
  .progress-bar[style*="background-color: #3F72AF;"] {
    background-color: #3F72AF;
  }
  
  .progress-bar[style*="background-color: #FFA500;"] {
    background-color: #FFA500;
  }
  
  .progress-bar[style*="background-color: #FFCC00;"] {
    background-color: #FFCC00;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .projects h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .projects p {
    margin-bottom: 15px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    position: relative;
  }
  
  .project-button {
    background-color: #F0F2F5;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project-button:hover {
    background-color: #3F72AF;
    color: #fff;
  }
  
  .back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3F72AF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .back-to-top-button:hover {
    opacity: 1;
  }
  
  header .night-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  header .night-mode-toggle:hover {
    color: #FFA500;
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  section {
    animation: slideInLeft 1s ease-in-out;
  }
  
